rect {
    fill: steelblue;
}

.tick text {
    font-size: 18px;
    fill: #635F5D;
}

.tick line {
    stroke: #C0C0BB;
}

.title {
    font-size: 30px;
    text-transform: capitalize;
}

.x-title {
    font-size: 20px;
}